Faker
faker_vehicle
pdoc3
numpy
pdf2image
Pillow
python-dateutil
six
torch
torchvision
python-doctr
pymupdf-fonts
lanms-neo
rapidfuzz
pymupdf
python-Levenshtein
opencv-python
jsonlines
paddlepaddle
paddleocr
streamlit
# DonUT
pytorch_lightning
sconf
timm
transformers
donut-python
